@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
.main-hall {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}
button{
    font-family: 'Montserrat Alternates', sans-serif;
    border: none;
}
.btn-menu{
    width: 230px;
    height: 20px;
    background-color: #f95d599e;
}
.btn-sair{
    display: block;
}
.btn-order, .btn-sair{
    background-color: #f95d599e;
}
.btn-itens{
    width: 230px;
    height: 20px;
    margin: 2px 0px 2px 0px;
}
.itens-all-day, .itens-breakfast{
    display: inline-grid;
    margin: 0px 5px 0px 5px;
}
label{
    font-size: 15px;
}
.entire-menu{
    display: contents;
}
.order{
    display: inline-grid;
    background-color:#d4d1d15e;
    width: 400px;
}
.title-order{
    text-align: center;
}
.burger-type{
    background-color: lightgray;
    display: none;
}