@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
.main-hall {
    display: contents;
    font-family: 'Montserrat Alternates', sans-serif;
}
button{
    font-family: 'Montserrat Alternates', sans-serif;
    border: none;
}
.btn-menu, .btn-sair{
    border: none;
    background-color: #f95d599e;
}
.btn-del{
    background-color: white;
}
.btn-itens{
    margin: 3px;
}
.entire-menu{
    display: block;
}
.itens-all-day, .itens-breakfast{
    display: inline-grid;
    margin: 0px 5px 0px 5px;
}
label{
    font-size: 15px;
}