@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
.main-kitchen {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.btn-sair{
    display: block;
    background-color: #f95d599e;
}

.title-kitchen-order{
    text-align: center;
}

.btn-status{
    margin: 5px;
    width: 130px;
    height: 40px;
    background-color: #f95d599e;
    font-size: large;
    font-size: 15px;
    border-radius: 10px;
    border: none;
} 

/*botão coma as informações do pedido mesa cliene status*/
.cardKitchen {
    background-color:#d4d1d15e;
    width: 250px;
    height: 300px;
    display: inline-block;
    margin: 10px 10px;
    text-align: center;
    padding: 10px;
    
}

/*contem a lista de pedidos*/
.lista-de-pedidos {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    background-color: d4d1d15e;
    display: inline-flex;
    align-items: center ;
} 

@media only screen and (max-width: 700px) { 

    .btn-sair{
        width: 150px;
        height: 50px;
        font-size: 20px;
    }
}