@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
$width-logo: 400px;
$height-logo: 280px;
$breakpoint-tablet: 768px;
$width-btn: 150px;
$height-btn: 20px;
$margin-btn: 2px;
$width-container: 430px;
$height-container: 528px;
$myFont: 'Montserrat Alternates';
$border-radius: 5px;
$padding-container: 48px 110px 49px 160px;
$color: #83120f;
$gradient: linear-gradient(-360deg, #8e2724, #3bab5ab5);


main, button{
    font-family: $myFont;
}
.main-reg{
    text-align: center;
    background: $gradient;
    padding: $padding-container;
}
.logo{
    width: $width-logo;
    height: $height-logo;
}
.input{
    border: solid 1px $color;
    border-radius: 5px;
}
.container-reg{
    border-radius: $border-radius;
    width: $width-container;
    height: $height-container;
    box-shadow: -20px 4px 7em black;
    background-color: white;
}
.radio-btn{
    font-size: 20px;
    margin: $margin-btn;
}

@media (min-width: $breakpoint-tablet) {
    .main-reg{
        padding: 47px 55px 50px 460px;
    }
}